/* Color variables */
:root {
    --white: #ffffff;
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
    --black: #000000;
    --gradient: linear-gradient(90deg, rgba(255, 163, 153, 1) 15%, rgba(255, 77, 151, 1) 100%);
}

/* General style configuration */
html {
    background-image: url('../images/bg-mobile.png');
    background-size: cover;
    font-family: 'Raleway', sans-serif; 
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.principal-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.first-content, .second-content {
    background-color: var(--darkBlue);
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10% 15% 10% 10%;
}

.first-content {
    border-radius: 10px 70px 10px 10px;
    margin-bottom: 5%;
}

.second-content {
    border-radius: 10px;
    position: relative;
}

.logo {
    width: 55%;
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
}

.second-content h1 {
    font-weight: 400;
    color: var(--paleBlue);
    text-align: center;
    padding-bottom: 10%;
}

.used-gb {
    font-weight: 700;
}

/* Progress sets the default style. It removed webkit style sheet (none) add background-color (Firefox will get this background) and defines the value color with accent-color. */
progress {
    -webkit-appearance: none;  
    background: var(--veryDarkBlue); 
    accent-color: var(--gradient);
    border-radius: 10px;
    width: 100%; 
}

/* This pseudo class will set the background color for the progress bar to Opera, safari, chrome, edge browsers */
::-webkit-progress-bar {
    background: var(--veryDarkBlue);
    border-radius: 10px;
} 

/* This pseudo class will set the background color for value to Opera, safari, chrome, edge browsers */
::-webkit-progress-value {
    border-radius: 10px;
    /* Add a background for white circle at the edge of value bar (first part defines circle size (4px), position(97%) and color(white). Second part repeats the size and color and defining that everything should be transparent, except the circle. Third part add the lienar gradiant that will ocupy all value where the white was set to transparent, leaving only the circle.*/
    background: radial-gradient(4px at 97%,white, white 4px, transparent), var(--gradient);
}

/* This pseudo class will set the background color for the progress bar on Mozila browser */
progress::-moz-progress-bar {
    background: radial-gradient(4px at 97%,white, white 4px, transparent),var(--gradient);
    border-radius: 10px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    color: var(--paleBlue);
    font-weight: 700;
    box-sizing: border-box;
}

.left-gb {
    background-color: var(--white);
    border-radius: 10px;
    padding: 5%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: var(--grayishBlue);
    position: absolute;
    transform: translate(20%, 10%);
    display: flex; 
    gap: .75rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;   
}

.remaining-gb {
    font-weight: 700;
    color: var(--black);
}

.end-sentence {
    font-weight: 700; 
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {

    .principal-container {
        width: 80%;
        margin: 20% auto;
    }

    .icons img {
        margin-right: 10%;
        width: 15px;
        background-color: var(--veryDarkBlue);
        padding: 6%;
        border-radius: 10px;
    }

    .second-content h1 {
        font-size: 0.8em;
    }

    progress {
        height: 10px;
    }
      
    .progress-container {
        font-size: 0.8em;
    }
        
    .remaining-gb {
        font-size: 1em; 
    }

    .end-sentence {
        font-size: 0.6em;
    } 
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {

    .principal-container {
        width: 70%;
        margin: 8% auto;
    }

    .first-content {
        margin-bottom: 2%;
    }

    .icons img {
        margin-right: 10%;
        width: 15px;
        background-color: var(--veryDarkBlue);
        padding: 6%;
        border-radius: 10px;
    }

    .first-content {
        padding-bottom: 5%;
    }

    .second-content h1 {
        font-size: 1em;
    }

    progress {
        height: 12px;
    }
      
    .progress-container {
        font-size: 0.8em;
    }

    .left-gb {
        transform: translate(20%, 10%);
    }

    .remaining-gb {
        font-size: 1.5em; 
    }

    .end-sentence {
        font-size: 0.8em;
    }
}

/* Small screens, laptops */
@media (min-width: 769px)  {

    .principal-container {
        flex-direction: row;
        width: 80%;
        margin: 15% auto;
        vertical-align: middle;
        vertical-align: bottom;
    }

    .first-content, .second-content {
        box-sizing: border-box;
        padding: 5%;
        margin: 0 auto;
        height: 40%; 
    }
    
    .first-content {
        padding: 5% ;
        width: 35%;
        margin-top: auto;
    }

    .second-content {
        width: 60%;
        margin-top: 2%;
        padding-bottom: 3%; 
    }
    
    .icons {
        padding-right: 20%;
    }

    .icons img {
        margin-right: 10%; 
        width: 20px;
        background-color: var(--veryDarkBlue);
        padding: 8%;
        border-radius: 10px;
    }

    .second-content h1 {
        font-size: 1em;
    }
    
    progress {
        height: 10px;
    }

    .progress-container {
        font-size: 0.8em;
    }

    .remaining-gb {
        font-size: 2em; 
    }
   
    .end-sentence {
        font-size: 1em;
    }
}