/* Color variables */
:root {
    --white: #ffffff;
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
    --black: #000000;
    --gradient: linear-gradient(90deg, rgba(255, 163, 153, 1) 15%, rgba(255, 77, 151, 1) 100%);
}

/* General style configuration */
html {
    background-image: url('../images/bg-mobile.png');
    font-family: 'Raleway', sans-serif;
    height: 100vh;  
}

.body {
    display: flex;
    flex-direction: column;
}

.first-content, .second-content {
    background-color: var(--darkBlue);
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10% 15% 10% 10%;
}

.first-content {
    border-radius: 10px 70px 10px 10px;
    margin-top: 40%;
    margin-bottom: 5%;
}

.second-content {
    border-radius: 10px;
    position: relative;
}

.logo {
    width: 55%;
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
}

.second-content h1 {
    font-weight: 400;
    color: var(--paleBlue);
    text-align: center;
    padding-bottom: 10%;
}

.used-gb {
    font-weight: 700;
}

/* Progress sets the default style. It removed webkit style sheet (none) add background-color (Firefox will get this background) and defines the value color with accent-color. */
progress {
    -webkit-appearance: none;  
    background: var(--veryDarkBlue); 
    accent-color: var(--gradient);
    border-radius: 10px;   
}

/* This pseudo class will set the background color for the progress bar to Opera, safari, chrome, edge browsers */
::-webkit-progress-bar {
    background: var(--veryDarkBlue);
    border-radius: 10px;
} 

/* This pseudo class will set the background color for value to Opera, safari, chrome, edge browsers */
::-webkit-progress-value {
    background: var(--gradient);
    border-radius: 10px;
}

/* This pseudo class will set the background color for the progress bar on Mozila browser */
progress::-moz-progress-bar {
    background: var(--gradient);
    border-radius: 10px;
}

.left-gb {
    background-color: var(--white);
    border-radius: 10px;
    padding: 5%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: var(--grayishBlue);
    position: absolute;
    transform: translate(20%, 10%);
    display: flex; 
    gap: .75rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;   
}

.remaining-gb {
    font-weight: 700;
    color: var(--black);
}

.end-sentence {
    font-weight: 700; 
}

/* Mobile devices */
@media (min-width: 320px) {

    .icons img {
        margin-right: 10%;
        width: 15px;
        background-color: var(--veryDarkBlue);
        padding: 6%;
        border-radius: 10px;
    }

    .second-content h1 {
        font-size: 0.8em;
    }

    progress {
        height: 15px;
        width: 200px;
    }
      
    .progress-container {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 10%;
        color: var(--paleBlue);
        font-weight: 700;
    }

    .progress-container {
        font-size: 0.8em;
    }

    .remaining-gb {
        font-size: 1.5em; 
    }

    .end-sentence {
        font-size: 0.6em;
    }
}

/* iPads, Tablets */
@media (min-width: 481px) {

    .second-content h1 {
        font-size: 1em;
    }

    .remaining-gb {
        font-size: 1.5em; 
    }

    .end-sentence {
        font-size: 1em;
    }

    .left-gb {
        transform: translate(20%, 30%);
    }
}

/* Small screens, laptops */
@media (min-width: 768px) {
   
    .icons img {
        margin-right: 10%;
        width: 30px;
        background-color: var(--veryDarkBlue);
        padding: 5%;
        border-radius: 10px;
    }

    .second-content h1 {
        font-size: 1.5em;
    }
      
    .progress-container {
        font-size: 1.3em;
    }

    .remaining-gb {
        font-size: 3em; 
    }
   
    .end-sentence {
        font-size: 1.5em;
    }
    
}